body {
    background: #f3f4f6;
    margin: 0;
    font-family: system-ui, sans-serif;
}

.container {
    text-align: center;
    max-width: 650px;
    margin: 60px auto;
    padding: 0 20px;
}
  
.title {
    text-align: left;
    font-size: 34px;
    font-weight: 700;
    color: #333;
}
  
.subtitle {
    max-width: 520px;
    margin: 10px auto 30px;
    font-size: 15px;
    opacity: 0.6;
}
  

.input-row {
    max-width: 600px;
    display: flex;
    gap: 12px;
    justify-content: center;
}
  
.input {
    flex: 1;
    padding: 14px;
    font-size: 16px;
    border-radius: 12px;
    border: 1px solid #d6d6d6;
    color: #333;
    background: white;
    outline: none;
}
  
.input:focus {
    border-color: #fa7d1e;
}
  

.result-box {
    margin-top: 25px;
    background: white;
    border-radius: 18px;
    padding: 22px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.07);
    text-align: left;
}
  
.short-link-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 18px;
    border-bottom: 1px solid #ececec;
    padding-bottom: 10px;
}
  
.link-icon {
    opacity: 0.7;
}
  
.short-link {
    color: #333;
    font-weight: 600;
    text-decoration: none;
}
  

